.container {
  .list {
    background-color: #eaeaea;
    width: 360px;
    .list-item {
      display: inline-block;
      padding: 10px;
      .list-item__inner {
        background-color: #fff;
        width: 100px;
        height: 100px;
        line-height: 98px;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        cursor: pointer;
        transition: 0.3s all ease;
      }
    }
  }
}