@import './constance.scss';

* {
  box-sizing: border-box;
  padding: 0; margin: 0;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: auto;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  background-color: $BackgroundColor;
}

/* flex布局 */
.flex { display: flex; flex-wrap: wrap; }
.f1 { flex: 1; }
.f2 { flex: 2; }
.f3 { flex: 3; }
/* 不换行 */
.flex { flex-wrap: nowrap; }
/* 垂直居中 */
.fvertical { align-items: center; }
/* 水平居中 */
.fcenter { justify-content: center; }
/* 右对齐 */
.fright { flex-direction: row; justify-content: flex-end; }
/* 两端对齐 */
.fbetween { justify-content: space-between; }
/* 贴底对齐 */
.fbottom { align-items: flex-end }
/* 溢出...显示 当前节点生效 */
.ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

/* 溢出...显示 子节点生效 */
.ellipsis_1 { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden; }
.ellipsis_2 { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; }
.ellipsis_3 { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; }

// 上下左右 内外边距，10、20、30、40、50
@for $index from 1 through 5 {
  .mgl_#{$index}0 {
    margin-left: 10px * $index;
  }
  .mgr_#{$index}0 {
    margin-right: 10px * $index;
  }
  .mgt_#{$index}0 {
    margin-top: 10px * $index;
  }
  .mgb_#{$index}0 {
    margin-bottom: 10px * $index;
  }

  .pdl_#{$index}0 {
    padding-left: 10px * $index;
  }
  .pdr_#{$index}0 {
    padding-right: 10px * $index;
  }
  .pdt_#{$index}0 {
    padding-top: 10px * $index;
  }
  .pdb_#{$index}0 {
    padding-bottom: 10px * $index;
  }
}

// 手势
.pointer {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.router-enter {
  transform: translate(100%, 0);
  opacity: 0;
}

.router-enter-active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 500ms;
}

.router-exit {
  transform: translate(0, 0);
  opacity: 1;
}

.router-exit-active {
  transform: translate(-100%, 0);
  opacity: 0;
  transition: all 500ms;
}
