:global(.ant-layout) {
  height: 100%;
  overflow: auto;
  :global(.ant-layout-sider) {
    position: relative;
    .trigger {
      position: absolute;
      right: -25px; top: 10px;
      color: #000;
      display: inline-block;
      width: 20px; height: 20px;
      line-height: 20px;
      text-align: center;
      z-index: 99;
      cursor: pointer;
    }
    .logo {
      height: 32px;
      background: rgba(255, 255, 255, .2);
      margin: 16px
    }
  }
  :global(.ant-layout-header) {
    background: #fff;
  }
  :global(.ant-layout-content) {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    .contentInner {
      background-color: #fff;
      padding: 10px;
      min-height: 100%;
      width: 100%;
    }
  }
}