.box {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}
.redBox {
  @extend .box;
  background-color: brown;
}

.boxOn {
  animation: slideScaleOn .3s ease;
  animation-fill-mode: forwards;
}
.boxOut {
  animation: slideScaleOut .3s ease;
  animation-fill-mode: forwards;
}

/** animation */
@keyframes slideScaleOn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slideScaleOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}